<h1> Welcome to the message board! </h1>
<p>
	
</p>

<%= button_to "Sign up for free", new_user_registration_path, method: :get %>
<p>
	
</p>


<%= button_to "Sign in", new_user_session_path %>


<%= button_to "See all boards", boards_index_path %>

<%= button_to "See all posts", posts_index_path %>